@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

#imgDoc {
   width: 100%;
   background-color: var(--color-border-btn);
}

.img-doc-contain {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.basic-info {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 1rem;
}
.basic-info input {
   width: 100%;
   font-family: 'Montserrat';
   font-size: 1.2rem;
   padding: 0.2rem;
   border: 0px solid var(--color-border-btn);
   border-bottom-width: 3px;
   background-color: var(--color-bg-1);
   outline: none;
}
.basic-info textarea {
   width: 100%;
   font-family: 'Montserrat';
   font-size: 1rem;
   padding: 0.2rem;
   border: 0px solid var(--color-border-btn);
   border-bottom-width: 3px;
   background-color: var(--color-bg-1);
   outline: none;
   resize: none;
}

.upper-text1 {
   width: 100%;
   font-size: 0.6;
   margin-top: 1.4rem;
}

.gen-btn-contain {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 0.8rem;
}
.gen-btn-contain button {
   width: 100%;
   height: 2.7rem;
   font-family: 'Montserrat';
   font-size: 1.2rem;
   border: 2px solid var(--color-border-btn);
   box-shadow: 0px 7px var(--color-border-btn);
   background-color: #dddddd;
}
.input-error {
   width: 100%;
   text-align: right;
   margin: 0;
   margin-top: 0.6rem;
   color: red;
}