@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

#imgDoc {
   width: 500px;
   height: 600px;
   background-color: var(--color-border-btn);
}

.img-doc-contain {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}