
.login-container {
   width: 100%;
   height: 100%;
   position: fixed;
   right: 0%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.login-box {
   width: 24rem;
   height: 30rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #eeeeee;
   border: 5px solid var(--color-border-btn);
   border-bottom-width: 25px;
}
.input-head1 {
   width: 80%;
   font-size: 1rem;
   font-weight: bold;
   color: #535353;
}
.basic-input {
   width: 80%;
   font-family: 'Montserrat';
   font-size: 1.2rem;
   padding: 0.2rem;
   border: 0px solid var(--color-border-btn);
   border-bottom-width: 3px;
   background-color: #eeeeee;
   outline: none;
}