
.login-container {
   width: 100%;
   height: 100%;
   position: fixed;
   right: 0%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.login-box {
   width: 24rem;
   height: 30rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--color-bg-1);
   border: 5px solid var(--color-border-btn);
   border-bottom-width: 25px;
}
.icon-login {
   width: 6rem;
   height: 6rem;
   box-shadow: 6px 6px 5px var(--color-border-btn);
   background-image: url("./img/icon.svg");
   background-position: center;
   background-size: cover;
   background-color: var(--color-border-btn);
}
.input-head1 {
   width: 80%;
   font-size: 1rem;
   font-weight: bold;
   color: #535353;
}
.basic-input {
   width: 80%;
   font-family: 'Montserrat';
   font-size: 1.2rem;
   padding: 0.2rem;
   border: 0px solid var(--color-border-btn);
   border-bottom-width: 3px;
   background-color: transparent;
   outline: none;
}
#logText {
   width: 80%;
   margin-top: 0.3rem;
   text-align: right;
   font-family: 'Montserrat';
   font-size: 0.8rem;
   color: red;
}
.login-btn {
   width: 80%;
   height: 2.7rem;
   font-family: 'Montserrat';
   font-size: 1.2rem;
   border: 2px solid var(--color-border-btn);
   box-shadow: 0px 7px var(--color-border-btn);
   background-color: #dddddd;
   margin-top: 2.5rem;
}