
@media screen and (max-width: 588px) {
   .head-title {
      text-align: left;
   }

   #addRecordBtn {
      margin-left: 80%;
   }

   .record-profile {
      width: 2.3rem;
      height: 2rem;
   }
   .record-name {
      font-size: 1.2rem;
      font-weight: 500;
   }
   .record-properties {
      font-size: 0.8rem;
   }
   .rec-btn-container {
      width: 25%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-right: 0.4rem;
      gap: 0;
      background-color: red;
   }
   .delete-btn {
      width: 100%;
      height: 2rem;
      margin: 0;
      border: 2px solid var(--color-border-btn);
   }
   .edit-btn {
      width: 100%;
      height: 2rem;
      border: 2px solid var(--color-border-btn);
   }
   
   #emptyLogView {
      font-size: 1rem;
   }

   /*Login style*/
   .login-box {
      border: 0px solid var(--color-border-btn);
      background-color: transparent;
      margin-bottom: 2rem;
   }

   /* createPage style */
   .gen-btn-contain button {
      font-size: 1rem;
   }

   /* Footer style */
   .main-footer {
      font-size: 0.8rem;
   }
}

@media screen and (max-width: 376px){
   .head-title {
      color: transparent;
      background-image: url(./img/icon.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
   }

   #addRecordBtn {
      margin-left: 74%;
   }

   .record-name {
      font-size: 1rem;
      margin-left: 0.7rem;
   }
   .record-properties {
      font-size: 0.7rem;
      margin-left: 0.7rem;
   }

   #emptyLogView {
      font-size: 0.9rem;
   }

   /* createPage style */
   .gen-btn-contain button {
      font-size: 0.9rem;
   }

   /* Footer style */
   .main-footer {
      font-size: 0.6rem;
   }
}