@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Root */
:root {
    --color-border-btn: #b4b4b4;
    --color-bg-1: #ececec;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

h1, h2 {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--color-bg-1);
}

/* Main root */
.main-root {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    place-self: center;
}
.ln {
    width: 100%;
    border: solid black;
    background-color: transparent;
    border-width: 0px;
    border-bottom-width: 3px;
    margin-top: 0.5rem;
}

.btn-set1 {
    width: 90%;
    position: absolute;
    justify-content: end;
    text-align: center;
    margin-top: 1.1rem;
    gap: 0.6rem;
}
.btn-set1 button {
    font-family: Montserrat;
    font-size: 1rem;
    margin-right: 0.5rem;
    border: 2px solid var(--color-border-btn);
    box-shadow: 0px 3px var(--color-border-btn);
    padding: 0.4rem;
}
.head-title {
    margin-top: 1rem;
    text-align: center;
}

.medical-record-item {
    width: 100%;
    height: 4rem;
    border: solid var(--color-border-btn);
    border-width: 0.2rem;
    border-bottom-width: 0.8rem;
    border-right-width: 0.4rem;
    margin-top: 0.7rem;
    background-color: var(--color-bg-1);
}