@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Root */
:root {
    --color-border-btn: #b4b4b4;
    --color-bg-1: #ececec;
    --color-bg-2: #c6eaff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: #dce3ff;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--color-bg-1);
}

/* Main root */
#mainRoot {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    place-self: center;
}
.ln {
    width: 100%;
    border: solid black;
    background-color: transparent;
    border-width: 0px;
    border-bottom-width: 3px;
    margin-top: 0.5rem;
}

.btn-set1 {
    width: 90%;
    position: absolute;
    justify-content: end;
    text-align: center;
    margin-top: 1.1rem;
    gap: 0.6rem;
}
.btn-set1 button {
    font-family: Montserrat;
    font-size: 1rem;
    margin-right: 0.5rem;
    border: 2px solid var(--color-border-btn);
    box-shadow: 0px 3px var(--color-border-btn);
    padding: 0.4rem;
}
.head-title {
    margin-top: 1rem;
    text-align: center;
}

.medical-record-item {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid var(--color-border-btn);
    border-width: 0.2rem;
    border-bottom-width: 0.8rem;
    border-right-width: 0.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.7rem;
    background-color: var(--color-bg-1);
}
.record-profile {
    width: 3.3rem;
    height: 3.3rem;
    margin-left: 1rem;
    border: white 2px solid;
    background-color: var(--color-border-btn);
}
.record-profile img {
    width: 100%;
    height: 100%;
}
.info-in-record {
    width: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.record-name {
    font-size: 1.6rem;
    margin-left: 1.4rem;
}
.record-properties {
    font-size: 1rem;
    margin-left: 1.4rem;
}
.rec-btn-container {
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}
.edit-btn {
    width: 3rem;
    height: 3rem;
    border: 0;
    background-image: url("./img/edit-ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.delete-btn {
    width: 3rem;
    height: 3rem;
    border: 0;
    margin-right: 1rem;
    background-image: url("./img/delete-ico.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.add-btn-contain {
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   flex-direction: column-reverse;
   right: 0;
   bottom: 5%;
   z-index: 1;
   pointer-events: none;
   background-color: transparent;
}
#addRecordBtn {
    width: 4.5rem;
    height: 4.5rem;
    font-family: Montserrat;
    font-size: 3rem;
    text-align: center;
    margin-left: 87%;
    border: 3px solid var(--color-border-btn);
    border-bottom-width: 10px;
    pointer-events: all;
    color: var(--color-border-btn);
}
#goBackBtn {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border: 3px solid var(--color-border-btn);
    background-image: url('./img/home.svg');
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
    padding: 0.1rem;
    margin-top: 1rem;
    color: black;
}

#emptyLogView {
    position: absolute;
    font-weight: bold;
    font-size: 1.4rem;
    color: #00000046;
    margin-top: 10rem;
    place-self: center;
    display: none;
}

.main-footer {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}